:root {
    --content-width: 1160px;
    --content-width--small: 560px;
    --content-width--medium: 700px;

    --navbar-height-large: 80px;
    --navbar-height-small: 60px;
    --background-color: black;
    --logo-area-with: 250px;

    --font-family-base: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: grey;
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: rgb(119, 50, 126);
}

.body-wrapper {
    width: auto;
}

.container {
    display: flex;
    max-width: var(--content-width);
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    justify-content: space-between;

    border: 1px dotted;
}

.item.brand {
    display:inline-flex;
    font-size: x-large;
    width: var(--logo-area-with);
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    
    
}

.logo {
    margin-right: 25px;
}

.navigation {
    position: static;
    display: block;
    height: var(--navbar-height-large);
    width: 100%;
    padding-top: 32px;
    fontf
    font-size: large;
    /* background: var(--background-color); */
}

.navigation nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    
}

.navigation a {
    background: transparent;
    text-decoration: none;
}

.nav-item-outer {
    width:fit-content;
}

.theme-toggle {
    align-self: flex-end;
}
