@import "fonts.css";

:root {
    --content-width: 1160px;
    --content-width--small: 560px;
    --content-width--medium: 700px;

    --navbar-height-large: 80px;
    --navbar-height-small: 60px;

    --background-color: #141314;
    --highlight-color: #87BFFF;
    --font-color: #ffff;
    --nav-font-color: #808080;

    --logo-area-with: 250px;

    --font-family-base: "Inter",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Arial,sans-serif;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: var(--background-color);
    width: 100%;
    font-family: var(--font-family-base);
    color: var(--font-color);
}

img {
    display: block;
    max-width: 100%;
}

.body-wrapper {
    width: auto;
}

.container {
    display: flex;
    max-width: var(--content-width);
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    justify-content: space-between;
     
}

.item.brand {
    display:inline-flex;
    width: var(--logo-area-with);
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    font-size: 1.4rem;
    font-weight: 1.2rem;
    color: var(--font-color);
    
    
}

.logo {
    margin-right: 15px;
}

.navigation {
    position: static;
    display: block;
    height: var(--navbar-height-large);
    width: 100%;
    padding-top: 32px;
    font-size: 1rem;
    /* background: var(--background-color); */
}

.navigation nav {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    
    
}

.navigation a {
    background: transparent;
    text-decoration: none;
    color: var(--nav-font-color);
}

.nav-item-outer {
    width:fit-content;
}

.theme-toggle {
    align-self: flex-end;
    height: 32;
    width: 32px;
}

main {
    margin-top: 6rem;
}

.hero-wrapper {
    display: grid;
    width: 100%;
}

.hero-description {
    margin-top: 1rem;
    line-height: 1.6;
    font-weight: 500;
}

.decoration {
    width: 50%;
}

.hero-image {
    
    height: 16rem;
}