/*Inter, weights: 500, 700*/

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");
/* @import "./image-gallery.css"; */
/* @import "node_modules\react-image-gallery\styles\css\image-gallery.css"; */

:root {
  --content-width: 1000px;
  --content-width--small: 560px;
  --content-width--medium: 700px;
  --content-width-gallery: 1200px;

  --nav-bar-height-large: 100px;
  --nav-bar-height-small: 60px;

  --border-color: rgb(66, 66, 66);
  --border-color-hover: grey;
  --border-radius: 10px;

  --footer-height: 50px;

  --grey-1:#2e2c2e;
  --background-color: #141314;
  --highlight-color: #87bfff;
  --hightlight-color-2:#adc6e0;
  --font-color: #ffff;
  --nav-font-color: #808080;

  --logo-area-with: 50px;

  --font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: auto;
  font-kerning: normal;
  font-family: var(--font-family-base);
}

body {
  background: var(--background-color);
  /* width: 100%; */
  font-family: var(--font- family-base);
  color: var(--font-color);
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin: auto;
}

.container {
  /* border: 1px solid green; */
  display: flex;
  max-width: var(--content-width);
  /* height: auto; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
  justify-content: space-between;
}

/*Navbar and area styles*/

.navigation.container {
  width: var(--content-width);
  display: flex;
  height: var(--nav-bar-height-large);
  margin: 15px auto;
}


.logo {
  /* margin-bottom: 1rem; */
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--font-color);
}

.logo-img {
  margin: 10px 10px 0 0;
  font-size: 1rem;
  font-weight: 400;
  width: var(--logo-area-with);
  height: auto;
  background-color: beige;
}

.nav-bar {
  display: flex;
  gap: 1.5rem;
  margin-top: 1rem;
}

.nav-item-outer {
  box-sizing: border-box;
  width: fit-content;
}

.nav-bar a {
  border: 1px solid var(--border-color); 
  border-radius: var(--border-radius);
  padding: 8px 12px;
  background: transparent;
  text-decoration: none;
  color: var(--nav-font-color);
}

.nav-bar a:hover {
  background-color: var(--grey-1);
  color: white;
  border-color: var(--border-color-hover);
  /* border-bottom: 3px solid purple; */
}

#theme-toggle {
  width: 4rem;
  height: 4rem;
  margin-bottom: 40px;
  background-color: var(--background-color);
  border: none;
}

 .theme-img{
  height: inherit;
  width: inherit;  
}

.theme-swap {
  margin: auto 0 auto auto;
}

/*Main section styles*/

main {
  /* padding-top: 4rem; */
  /*Calculating size of main section so it takes up all space not taken up by header & footer, -30px is the margin of header..*/
  height: calc(100% - var(--nav-bar-height-large) - var(--footer-height) - 30px);
  flex: 1 1;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 1.4rem;
  width: 100%;
  height: fit-content;
}

.index {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* .greeting {
  margin-left: 1rem;
}
 */
.hero-description {
  margin-top: 1rem;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.2rem;
}

.decoration {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.hero-image {
  box-shadow: 8px 8px tomato;
  height: 14rem;
}


/* Footer styles */
footer {
  height: var(--footer-height);
  min-height: var(--footer-height);
}

footer > .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container > .logo > span {
  display: none;
}


/*Gallery styles*/

.gallery-container {
    /* border: 1px solid green; */
    display: block;
    max-width: var(--content-width-gallery);
    height: 100%;
    /* height: auto; */
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem;
    text-align: center;
  }

.gallery-head {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  color: cadetblue;
}

.categories-container {
  height: 10%;
  width: 80%;
  box-shadow: 1px 2px 3px var(--background-color);
  background-color: #3b3b3b;
  align-content: center;
  text-align: center;
  display: inline-block;
}

.categories-div {
  width: 100%;
  height: auto;
  padding: 20px 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category {
  /* width: 300px; */
  
  margin: 0 15px;
}

.category > button {
  font-size: 20px;  
  color: var(--highlight-color);
  background-color: var(--background-color);
  /* border: 3px solid; */
  border-color: var(--hightlight-color-2);
  border-radius: 5px;
  padding: 10px 10px;

}


/* ---------------------------------------------------------------------------------------------
Overwriting default styles of react-image-gallery */

.image-gallery {
  height: 90%;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  width: 100%;
  height: inherit;
}

.image-gallery-content.image-gallery-thumbnails-bottom {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* flex: 8 1; */
}

.image-gallery-slide-wrapper.image-gallery-thumbnails-bottom {
  height: 75%;

}
.image-gallery-thumbnails-wrapper.image-gallery-thumbnails-bottom.thumbnails-swipe-horizontal {
  height: 25%;
}

.image-gallery-swipe {
  height: 100%;
}
.image-gallery-slides {
  height: inherit;
}

.image-gallery-slide.image-gallery-right,
.image-gallery-slide.image-gallery-left,
.image-gallery-slide.image-gallery-center {
  height: 100%;
}

/* .image-gallery-content.image-gallery-thumbnails-bottom.fullscreen {
  padding: 100px 50px;
} */